@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
	margin: 0 auto;
	background: #f46b45;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
*{font-family: 'Roboto', sans-serif;}
.holder {
	width: 900px;
	height: auto;
	margin: 0 auto;
}
.nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #fff;
}
.nav .title {
	font-size: 19px;
	font-weight: 700;
	color: #eea849;
}
.form {
	display: block;
	width: 500px;
	height: auto;
	background: #fff;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 5px;
	padding-bottom: 1.25%;
}
.form input,
select,
textarea {
	display: block;
	width: 95%;
	height: 40px;
	outline: 0;
	border: 0;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
}
textarea {
	padding: 10px 20px;
	height: 200px;
	resize: none;
}
.form input[name="firstName"],
.form input[name="lastName"]{
	width: 46%;
	float: left;
	margin-left: 2.5%;
	margin-bottom: 10px;
}
.form input[type="submit"] {
	border: 1px solid RGBA(0,0,0,0.2);
	width: 95%;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
	font-size: 18px;
	transition: all .2s ease;
	background: #f46b45;
	background: -webkit-linear-gradient(to right, #eea849, #f46b45);
	background: linear-gradient(to right, #eea849, #f46b45);
}
.form input[type="submit"]:active {
	background: #f46b45;
	background: -webkit-linear-gradient(to right, #f46b45, #f46b45);
	background: linear-gradient(to right, #f46b45, #f46b45);
}
.form input[type="submit"]:hover {
	background: #eea849;
	background: -webkit-linear-gradient(to right, #eea849, #eea849);
	background: linear-gradient(to right, #eea849, #eea849);
}
.form .title {
	font-size: 23px;
	text-align: center;
	color: #f46b45;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	font-weight: 700;
}
.form .subtitle {
	color: tomato;
	font-size: 15px;
	text-transform: uppercase;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	padding: 0px 15px;
}